# Creando bases de datos y tablas

In [1]:
CREATE DATABASE rookery;

In [2]:
SHOW DATABASES;

Database
information_schema
mysql
performance_schema
rookery
test

In [3]:
DROP DATABASE rookery; 
CREATE DATABASE rookery
CHARACTER SET latin1
COLLATE latin1_bin;

In [4]:
SHOW DATABASES;

Database
information_schema
mysql
performance_schema
rookery
test

In [6]:
USE rookery;

In [7]:
CREATE TABLE birds (
bird_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
common_name VARCHAR(50),
family_id INT,
description TEXT
);

In [8]:
DESCRIBE birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [9]:
INSERT INTO birds (scientific_name, common_name)
VALUES ('Charadrius vociferus', 'Killdeer'),
('Gavia immer', 'Great Northern Loon'),
('Aix sponsa', 'Wood Duck'),
('Chordeiles minor', 'Common Nighthawk'),
('Sitta carolinensis', ' White-breasted Nuthatch'),
('Apteryx mantelli', 'North Island Brown Kiwi');

In [10]:
SELECT * FROM birds;

bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [11]:
CREATE DATABASE birdwatchers;

CREATE TABLE birdwatchers.humans(
human_id INT AUTO_INCREMENT PRIMARY KEY,
formal_title VARCHAR(25),
name_first VARCHAR(25),
name_last VARCHAR(25),
email_address VARCHAR(255)
);

In [13]:
INSERT INTO birdwatchers.humans
(formal_title, name_first, name_last, email_address)
VALUES
('Mr.', 'Russell', 'Dyer', 'russell@mysqlresources.com'),
('Mr.', 'Richard', 'Stringer', 'richard@mysqlresources.com'),
('Ms.', 'Rusty', 'Osborne', 'rusty@mysqlresources.com'),
('Ms.', 'Lexi', 'Hollar', 'alexandra@mysqlresources.com');

In [15]:
SELECT * FROM birdwatchers.humans;

human_id,formal_title,name_first,name_last,email_address
1,Mr.,Russell,Dyer,russell@mysqlresources.com
2,Mr.,Richard,Stringer,richard@mysqlresources.com
3,Ms.,Rusty,Osborne,rusty@mysqlresources.com
4,Ms.,Lexi,Hollar,alexandra@mysqlresources.com

In [16]:
USE birdwatchers;

In [17]:
SELECT * FROM humans;

human_id,formal_title,name_first,name_last,email_address
1,Mr.,Russell,Dyer,russell@mysqlresources.com
2,Mr.,Richard,Stringer,richard@mysqlresources.com
3,Ms.,Rusty,Osborne,rusty@mysqlresources.com
4,Ms.,Lexi,Hollar,alexandra@mysqlresources.com

In [19]:
USE rookery;
SHOW CREATE TABLE birds;

Table,Create Table
birds,"CREATE TABLE `birds` ( `bird_id` int(11) NOT NULL AUTO_INCREMENT, `scientific_name` varchar(255) COLLATE latin1_bin DEFAULT NULL, `common_name` varchar(50) COLLATE latin1_bin DEFAULT NULL, `family_id` int(11) DEFAULT NULL, `description` text COLLATE latin1_bin DEFAULT NULL, PRIMARY KEY (`bird_id`), UNIQUE KEY `scientific_name` (`scientific_name`) ) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_bin"

In [20]:
SELECT * FROM birds;

bird_id,scientific_name,common_name,family_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [21]:
CREATE TABLE bird_families (
family_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
brief_description VARCHAR(255)
);

In [22]:
DESCRIBE bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,

In [23]:
CREATE TABLE bird_orders (
order_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
brief_description VARCHAR(255),
order_image BLOB
) DEFAULT CHARSET=utf8 COLLATE = utf8_general_ci;

In [25]:
DESCRIBE bird_orders;

Field,Type,Null,Key,Default,Extra
order_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_image,blob,YES,,NULL,