# Explorando las bases de datos

Primero imprimimos las bases de datos

In [2]:
SHOW DATABASES;

Database
information_schema
mysql
performance_schema
test

Ahora, creamos una base de datos llamada test y las imprimimos

In [5]:
CREATE DATABASE test;
#DROP DATABASE test; #Esto elimina la base de datos;

In [6]:
SHOW DATABASES;

Database
information_schema
mysql
performance_schema
test

Creamos una tabla llamada books con tres campos

In [7]:
CREATE TABLE test.books (book_id INT, title TEXT, status INT);

Imprimimos las tablas

In [8]:
SHOW TABLES FROM test;

Tables_in_test
books

Escogemos la base de datos test

In [9]:
USE test;

In [10]:
SHOW TABLES;

Tables_in_test
books

Ahora, veamos la informaci√≥n de la tabla test

In [11]:
DESCRIBE books;

Field,Type,Null,Key,Default,Extra
book_id,int(11),YES,,NULL,
title,text,YES,,NULL,
status,int(11),YES,,NULL,

Ahora insertamos datos a la tabla

In [12]:
INSERT INTO books VALUES(100, 'Heart of Darkness',0);
INSERT INTO books VALUES(101, 'The Catcher of the Rye',1);
INSERT INTO books VALUES(102, 'My Antonia',0);

Para ver la tabla con los nuevos registros

In [13]:
SELECT * FROM books;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher of the Rye,1
102,My Antonia,0

In [14]:
SELECT * FROM books  WHERE status = 1;

book_id,title,status
101,The Catcher of the Rye,1

In [25]:
SELECT * FROM books WHERE status = 0 \G
#Este comando no funciona en este cuaderno, pero en la terminal funciona sin problema. 
#Su salida es imprimir los resultado que tienen estatus cero por medio de filas.

Your SQL code doesn't end with delimiter `;`

In [26]:
UPDATE books SET status = 1 WHERE book_id = 102;

In [27]:
select * from  books;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher of the Rye,1
102,My Antonia,1

In [28]:
SELECT * FROM books WHERE status = 1;

book_id,title,status
101,The Catcher of the Rye,1
102,My Antonia,1

In [29]:
UPDATE books SET status = 0 WHERE book_id = 101;

In [30]:
SELECT * FROM books WHERE status = 0;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher of the Rye,0

In [31]:
UPDATE books SET title = 'The Catcher in the Rye', status = 1 
WHERE book_id = 101;

In [32]:
SELECT * FROM books;

book_id,title,status
100,Heart of Darkness,0
101,The Catcher in the Rye,1
102,My Antonia,1

# Un poco de complejidad

In [33]:
CREATE TABLE status_names (status_id INT, status_name CHAR(8));
INSERT INTO status_names VALUES(0,'Inactive'),(1, 'Active');

In [34]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active

In [35]:
UPDATE status_names SET status_name = 'Inactivo' WHERE status_id = 0;

In [36]:
SELECT * FROM status_names;

status_id,status_name
0,Inactivo
1,Active

In [37]:
UPDATE status_names SET status_name = 'Inactive' WHERE status_id = 0;

In [38]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active

In [39]:
INSERT INTO status_names VALUES (11, 'Ac');

In [40]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active
11,Ac

In [41]:
DELETE FROM status_names WHERE status_id = 11;

In [42]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active

In [43]:
SELECT book_id, title, status_name
FROM books JOIN status_names
WHERE status = status_id;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher in the Rye,Active
102,My Antonia,Active