# Diseño y Construcción de Bases de Datos

###  Tabla de contenido

* [1. Introducción](#Introducción)
* [2. Esquema Entidad-Relación](#Esquema)
* [3. Descripción de procedimientos](#Descripcion)
* [4. Consultas](#Consultas)
* [Referencias](#Referencias)

# Introducción

En el manejo de grandes volumenes de datos que se generan en redes sociales, mercados financieros, sensores y demás, es necesario diseñar y construir formas y algoritmos que nos permitan manejar esaa información. Esto con el fin de extraer conclusiones útiles para los procesos en donde se tomaron. Con esto en mente, en este ensayo se presenta una breve introducción al diseño y construcción de cinco bases de datos diferentes, que se pueden consultar en el [sitio web de mysql](https://dev.mysql.com/doc/index-other.html), las cuales son: 

> * [Employee data](https://dev.mysql.com/doc/employee/en/employees-introduction.html): Describe la base de datos de una parte de los empleados de una compañía.

> * [World](https://dev.mysql.com/doc/world-setup/en/world-setup-preface.html): Describe una muestra de países del mundo, en donde se da información sobre una muestra de países, algunas ciudades y los idiomas que se hablan allí. 

> * [World_x](https://dev.mysql.com/doc/world-x-setup/en/world-x-setup-installation.html): Es una base similar a la anterior con otra muestra de países. 

> * [Sakila](https://dev.mysql.com/doc/sakila/en/sakila-introduction.html): Es una de las bases de datos de ejemplo más populares de Mysql. Contiene información de una empresa dedicada al alquiler de películas. 

> * [Menagerie](https://dev.mysql.com/doc/index-other.html): Contiene información sobre de mascotas.

# Esquema Entidad-Relación <a id="Esquema"></a>

La cantidad de información y de  datos que se pueden recoger en diferentes instancias pueden tener gran variedad, es decir, puede tratarse de datos estructurados y no estructurados. Aquí nos restringuimos a datos estructurados donde se puede aplicar un tipo de esquema de entidad relación, los cuales se derivan de las relaciones de álgebra relacional. 

Una ventaja de los esquema de entidad relación es que nos permite ver graficamente como se establecen las relaciones entre las diferentes tablas de nuestra base de datos. Una herramienta que nos ayuda mucho en este proceso es [dbeaver](https://dbeaver.io/). De esta manera, primero veamos el esquema para la base de datos [Employee data](https://dev.mysql.com/doc/employee/en/employees-introduction.html)

<img src="EmployeeER.png">

En el diagrama anterior vemos que tenemos ocho entidades o tablas, cuyos nombres aparecen en la parte superior de cada recuadro, junto con la información disponible en cada tabla y su llave primaria; la cual sirve para identificar cada registro echo. De estas tablas, dos de ellas *dept_emp_lastesdate* y *current_dept_emp* no tienen relación con otras entidades. Por otro lado, la tabla *departaments* se relaciona con la tablas *dept_emp* y *dept_manager*. Por su parte *employees* se relaciona con *dept_emp, dept_manager, salaries* y *titles*.

Ahora, para la siguiente base de datos [World](https://dev.mysql.com/doc/world-setup/en/world-setup-preface.html), se tienen tres entidades. La tabla *country* y *city* presentan una relación uno a muchos la cual no es obligatoria, esto se señala por la línea punteada. Por otro lado, *country* y *countrylanguage* presentan una relación uno a muchos y es obligatoria, esto se señala con la línea completa.


<img src="world.png">

Para [World_x](https://dev.mysql.com/doc/world-x-setup/en/world-x-setup-installation.html), se tienen tres entidades; de las cuales *city* no se relaciona con ninguna otra y *countrylanguage* y *country* presentan una relación de uno a muchos. 

<img src="worldx.png">

Para la base de datos de [Sakila](https://dev.mysql.com/doc/sakila/en/sakila-introduction.html), se tiene un diagrama mucho más robusto, el cual se puede ver en la siguiente figura

<img src="sakila.png">

Para la última base de datos [Menagerie](https://dev.mysql.com/doc/index-other.html), se obtiene un diagrama más sencillo. Donde se tienen dos tablas sin ninguna relación entre ellas. 

<img src="mena.png">

# Descripción de Procedimientos <a id="Descripcion"></a>

Ahora, veamos tres conceptos importantes en el manejo de bases de datos:

> * [Procedimiento Almacenado](https://www.neoguias.com/procedimientos-almacenados-mysql/): Porción de código que se guarda y se reutiliza. Es muy útil para se repite la misma tarea muchas veces. Su sintaxis 
es 

CREATE PROCEDURE nombre_procedimiento
AS
sentencias_sql
GO;

Para ejecutar se ejecuta el siguiente comando 

EXEC nombre_procedimiento (param1, param2, ....);

> * [Función](http://appl.transexpress.com.sv/misdocs/dsiw1/Guia%20Funciones%20y%20Triggers.pdf): Por su parte una función es una rutina que se crea para tomar unos parámetros, procesarlos y devolver una salida. Son diferentes a los procedimientos porque solo pueden tener parámetros de entrada y no parámetros de salida, además devuelven un valor individual con un tipo de dato definido, mientras los procedimientos permiten la salida de un conjunto de registros sin necesidad de tener el tipo de datos definidos

> * [Trigger o Disparador](http://appl.transexpress.com.sv/misdocs/dsiw1/Guia%20Funciones%20y%20Triggers.pdf): Es un programa almacenado que se ejecuta cuando sucede un evento en el desarrollo de nuestra base de datos. Estos sirven para proteger, restringir o preparar la información de nuestra base de datos

# Consultas <a id="Consultas"></a>

Las consultas son operaciones del algebra relacional que hacemos en nuestra base de datos. Veamos algunos ejemplos en la base de datos [Sakila](https://dev.mysql.com/doc/sakila/en/sakila-introduction.html).

Primero veamos las bases de datos existentes en nuestro repositorio local

In [2]:
SHOW DATABASES;

Database
birdwatchers
employees
information_schema
menagerie
musica
mysql
performance_schema
rookery
sakila
test
world
world_x

Seleccionamos sakila

In [3]:
USE sakila;

Pedimos que nos muestre todas las tablas, y el tipo de tabla.

In [4]:
SHOW FULL TABLES;

Tables_in_sakila,Table_type
actor,BASE TABLE
actor_info,VIEW
address,BASE TABLE
category,BASE TABLE
city,BASE TABLE
country,BASE TABLE
customer,BASE TABLE
customer_list,VIEW
film,BASE TABLE
film_actor,BASE TABLE
film_category,BASE TABLE
film_list,VIEW
film_text,BASE TABLE
inventory,BASE TABLE
language,BASE TABLE
nicer_but_slower_film_list,VIEW
payment,BASE TABLE
rental,BASE TABLE
sales_by_film_category,VIEW
sales_by_store,VIEW
staff,BASE TABLE
staff_list,VIEW
store,BASE TABLE

Ahora, contamos el número de películas totales

In [6]:
SELECT COUNT(*) FROM film;

COUNT(*)
1000

Ahora hacemos una liste de nombre completo de actores ordenada por apellido

In [7]:
SELECT CONCAT(s.first_name, _utf8' ',  s.last_name) AS Actor 
FROM actor as s
order by s.last_name;

Actor
DEBBIE AKROYD
KIRSTEN AKROYD
CHRISTIAN AKROYD
MERYL ALLEN
CUBA ALLEN
KIM ALLEN
ANGELINA ASTAIRE
RUSSELL BACALL
JESSICA BAILEY
AUDREY BAILEY
HARRISON BALE
RENEE BALL
JULIA BARRYMORE
VIVIEN BASINGER
MICHAEL BENING
SCARLETT BENING
VIVIEN BERGEN
LIZA BERGMAN
HENRY BERRY
CHRISTOPHER BERRY
KARL BERRY
CUBA BIRCH
KEVIN BLOOM
VAL BOLGER
MICHAEL BOLGER
CHRIS BRIDGES
GOLDIE BRODY
LAURA BRODY
LAURENCE BULLOCK
JOHNNY CAGE
ZERO CAGE
MATTHEW CARREY
GREG CHAPLIN
ED CHASE
JON CHASE
RUSSELL CLOSE
FRED COSTNER
RIP CRAWFORD
DARYL CRAWFORD
ANNE CRONYN
PENELOPE CRONYN
SIDNEY CROWE
JUDE CRUISE
RALPH CRUZ
SCARLETT DAMON
SUSAN DAVIS
SUSAN DAVIS
JENNIFER DAVIS
FRANCES DAY-LEWIS
RIVER DEAN
JUDY DEAN
LUCILLE DEE
EMILY DEE
JODIE DEGENERES
NICK DEGENERES
GINA DEGENERES
JULIANNE DENCH
CHARLIZE DENCH
SPENCER DEPP
CHRIS DEPP
SYLVESTER DERN
ALAN DREYFUSS
ROCK DUKAKIS
BURT DUKAKIS
GROUCHO DUNST
BOB FAWCETT
JULIA FAWCETT
CHRISTIAN GABLE
HUMPHREY GARLAND
KEVIN GARLAND
AL GARLAND
MERYL GIBSON
PARKER GOLDBERG
GREGORY GOODING
EWAN GOODING
ADAM GRANT
SEAN GUINESS
PENELOPE GUINESS
ED GUINESS
WILLIAM HACKMAN
TIM HACKMAN
BEN HARRIS
CATE HARRIS
DAN HARRIS
MEG HAWKE
GEOFFREY HESTON
KENNETH HOFFMAN
WOODY HOFFMAN
MAE HOFFMAN
HARVEY HOPE
MORGAN HOPKINS
GENE HOPKINS
NATALIE HOPKINS
MENA HOPPER
ADAM HOPPER
ANGELA HUDSON
CARMEN HUNT
WHOOPI HURT
WARREN JACKMAN
JANE JACKMAN
ALBERT JOHANSSON
MATTHEW JOHANSSON
RAY JOHANSSON
WOODY JOLIE
KIRK JOVOVICH
MARY KEITEL
MILLA KEITEL
GRETA KEITEL
REESE KILMER
OPRAH KILMER
MINNIE KILMER
FAY KILMER
SANDRA KILMER
MATTHEW LEIGH
JOHNNY LOLLOBRIGIDA
GRETA MALDEN
ED MANSFIELD
ELVIS MARX
MICHELLE MCCONAUGHEY
CARY MCCONAUGHEY
MORGAN MCDORMAND
GENE MCKELLEN
TOM MCKELLEN
JULIA MCQUEEN
CATE MCQUEEN
TOM MIRANDA
PENELOPE MONROE
LISA MONROE
GRACE MOSTEL
JIM MOSTEL
JAYNE NEESON
CHRISTIAN NEESON
BETTE NICHOLSON
ALBERT NOLTE
JAYNE NOLTE
SALMA NOLTE
WARREN NOLTE
AUDREY OLIVIER
CUBA OLIVIER
KIRSTEN PALTROW
KENNETH PALTROW
SANDRA PECK
SPENCER PECK
MILLA PECK
RICHARD PENN
GARY PENN
KENNETH PESCI
OLYMPIA PFEIFFER
GARY PHOENIX
PENELOPE PINKETT
JAMES PITT
BURT POSEY
ELLEN PRESLEY
RITA REYNOLDS
JADA RYDER
JAYNE SILVERSTONE
JEFF SILVERSTONE
GROUCHO SINATRA
SISSY SOBIESKI
NICK STALLONE
DAN STREEP
CAMERON STREEP
JOHN SUVARI
JOE SWANK
IAN TANDY
MARY TANDY
DUSTIN TAUTOU
MENA TEMPLE
RUSSELL TEMPLE
THORA TEMPLE
BURT TEMPLE
FRANCES TOMEI
KENNETH TORN
DAN TORN
WALTER TORN
LUCILLE TRACY
RENEE TRACY
HELEN VOIGHT
NICK WAHLBERG
DARYL WAHLBERG
BELA WALKEN
ALEC WAYNE
REESE WEST
CHRISTOPHER WEST
MORGAN WILLIAMS
GROUCHO WILLIAMS
SEAN WILLIAMS
HUMPHREY WILLIS
BEN WILLIS
GENE WILLIS
WILL WILSON
FAY WINSLET
RIP WINSLET
ANGELA WITHERSPOON
UMA WOOD
FAY WOOD
CAMERON WRAY
MINNIE ZELLWEGER
JULIA ZELLWEGER
CAMERON ZELLWEGER

Ahora, hacemos una consulta sobre el número de actores por categoría del film en orden descendiente

In [8]:
SELECT c.name as categoria, COUNT(actor_id) AS numero_actores
FROM category AS c
JOIN film_category as fc ON c.category_id = fc.category_id
JOIN film as f ON fc.film_id = f.film_id
JOIN film_actor as fa ON f.film_id = fa.film_id
GROUP BY categoria
ORDER BY numero_actores DESC;

categoria,numero_actores
Sports,441
Foreign,397
Documentary,385
Action,363
Animation,361
Drama,350
Family,347
Children,344
New,343
Sci-Fi,326
Travel,321
Horror,317
Classics,307
Games,293
Comedy,286
Music,281

Ahora, consultamos el actor qua más ventas genera por tienda (store)

In [9]:
SELECT  d.address as tienda,
        CONCAT(a.first_name, _utf8' ',  a.last_name) AS actor_estrella,
        MAX(p.amount) as valor
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN payment AS p ON r.rental_id = p.rental_id
JOIN store AS s ON i.store_id = s.store_id
JOIN address AS d ON s.address_id = d.address_id
GROUP BY tienda;

tienda,actor_estrella,valor
28 MySQL Boulevard,PENELOPE GUINESS,11.99
47 MySakila Drive,PENELOPE GUINESS,11.99

Por último, consultamos las ventas totales por tienda

In [10]:
select  d.address as tienda,
        SUM(p.amount) as valor
from    address as d
join    store as s on s.address_id = d.address_id
join    inventory as i on i.store_id = s.store_id
join    rental as r on r.inventory_id = i.inventory_id
join    payment as p on p.rental_id = r.rental_id
group by tienda;

tienda,valor
28 MySQL Boulevard,33726.77
47 MySakila Drive,33679.79

# Referencias <a id="Referencias"></a>

> *  MySQL Documentation. Recuperado el 11 de abril de 2021 20:45 de  https://dev.mysql.com/doc/index-other.html

> * Dyer, R. J. (2015). Learning MySQL and MariaDB: Heading in the right direction with MySQL and MariaDB. " O'Reilly Media, Inc.".